target
.classpat
.project
.settings
.idea
*.iml
audit.log
hs_err_*
META-INF.JAXB
hsp-messaging.iml
.scannerwork
.git
dependency-check*
*.versionsBackup

### Jenkins ###
target/
.classpath
.project
.settings
.idea
*.iml
audit.log
.scannerwork
.git
dependency-check*
sonar-report
mvnw*
*.versionsBackup
mvnsettings.xml
.bash_history
